<div class="well">
    <div class="container">
        <a routerLink="/home">Inicio</a> / {{lugar.nombre}}
    </div>
</div>
<agm-map *ngIf="lugar.lat && lugar.lon" [latitude]="lugar.lat" [longitude]="lugar.lon" [zoom]="zoom" [styles]="styles">
    <agm-marker
            [latitude]="lugar.lat"
            [longitude]="lugar.lon">
        <agm-info-window>
            <strong>{{lugar.nombre}}</strong>
        </agm-info-window>
    </agm-marker>
</agm-map>
<div class="container">
    <h1>{{lugar.nombre}}</h1>
    <hr />
    <p [innerHTML]="lugar.descripcion | linkify"></p>
    <p>{{lugar.telefono}}</p>
    <p><a href="{{lugar.website}}" target="_blank">{{lugar.website}}</a></p>
    <p>
        {{lugar.calle}}<br />
        {{lugar.ciudad}}, {{lugar.estado}} {{lugar.pais}}<br />
        {{lugar.codigo_postal}}
    </p>
    <p>
        <strong>Creado:</strong> {{lugar.id | date: 'fullDate' | uppercase}}
    </p>
</div>