<a routerLink="/home">Regresar</a><br />
<agm-map *ngIf="lugar.lat && lugar.lon" [latitude]="lugar.lat" [longitude]="lugar.lon" [zoom]="zoom">
    <agm-marker
            [latitude]="lugar.lat"
            [longitude]="lugar.lon">
        <agm-info-window>
            <strong>{{lugar.nombre}}</strong>
        </agm-info-window>
    </agm-marker>
</agm-map>
<h1>{{lugar.nombre}}</h1>
<hr />
<p>{{lugar.descripcion}}</p>
<p>{{lugar.telefono}}</p>
<p><a href="{{lugar.website}}" target="_blank">{{lugar.website}}</a></p>
<p>
    {{lugar.calle}}<br />
    {{lugar.ciudad}}, {{lugar.estado}} {{lugar.pais}}<br />
    {{lugar.codigo_postal}}
</p>