<label>Nombre</label>:
<input [(ngModel)]="lugar.nombre" />
<br />
<label>Teléfono</label>:
<input [(ngModel)]="lugar.telefono" />
<br />
<label>Website</label>:
<input [(ngModel)]="lugar.website" />
<br />
<label>Descripción</label>:
<textarea [(ngModel)]="lugar.descripcion" ></textarea>
<br />
<label>Calle</label>:
<input [(ngModel)]="lugar.calle" />
<br />
<label>Ciudad</label>:
<input [(ngModel)]="lugar.ciudad" />
<br />
<label>Estado</label>:
<input [(ngModel)]="lugar.estado" />
<br />
<label>País</label>:
<input [(ngModel)]="lugar.pais" />
<br />
<label>Código Postal</label>:
<input [(ngModel)]="lugar.codigo_postal" />
<hr />
<a (click)="onSave()">Guardar</a><br />
<a routerLink="/home">Cancelar</a><br />