/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 300px;
}
div#contenedor-formulario {
    border: 1px solid lightgray;
    padding: 45px 30px;
    border-radius: 5px;
}