<agm-map *ngIf="lat && lng" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
    <agm-marker
            *ngFor="let m of lugares; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lon"
            [label]="i">

        <agm-info-window>
            <strong>{{m.nombre}}</strong>
        </agm-info-window>

    </agm-marker>
</agm-map>
<div class="container">
    <hr />
    <div class="row" *ngIf="loggedIn">
        <div class="col-md-4 col-md-offset-8">
            <a class="btn btn-primary btn-block" routerLink="/crear" *ngIf="loggedIn">Crear Nuevo</a>
        </div>
    </div>
    <hr />
    <div class="list-group">
        <button type="button" *ngFor="let lugar of lugares" routerLink="/detalle/{{lugar.id}}" [queryParams]="{referer:'home'}" class="list-group-item">
            <strong>{{lugar.nombre | uppercase}}</strong><br />
            {{lugar.descripcion}}
        </button>
    </div>
</div>