<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div id="contenedor-formulario">
            <h3>Regístrate</h3>
            <hr />
            <label>Email</label>:
            <input class="form-control" [(ngModel)]="credenciales.email" />
            <br />
            <label>Password</label>:
            <input class="form-control" [(ngModel)]="credenciales.password" />
            <br />
            <a class="btn btn-primary btn-block">Registrarse</a>
        </div>
    </div>
</div>